<!DOCTYPE html>
<html>

<head>
<meta http-equiv="content-type" content="text/html" charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>API How To</title>
<link rel="stylesheet" href="css/pure-min.css">
<link rel="stylesheet" href="css/grids-responsive-min.css">
</head>

	<body>
		<div class="pure-u-1" id="page">
			<header>
			<div id="logo">
				<h1>Geolocation APIs</h1>
			</div>

			<nav>
			<ul id="navigation">
				<li><a href="index.html" class="on" >Home</a></li>
				<li><a href="opencage.html">Open Cage</a></li>
				<li><a href="opennotify.html">Open Notify</a></li>
				<li><a href="googlemaps.html">Google Maps</a></li>
				<li><a href="jslib.html">JS Lib</a></li>
			</ul>
			</nav>
			</header>

			<section>
				<article>
					<figure>
						<img src="iss-orbit.jpg" alt="ISS, orbit">
						<figcaption>ISS Orbital Path</figcaption>
					</figure>
					<p> The tutorial shows how to use 
					multiple APIs to create an
					application for tracking the distance between your input and
					the International Space Station.</p>
					<p>To make this possible, we can use the geocoding API 
					from Open Cage to find the latitude and the longitude 
					information. We also need the geolocation of the ISS to
					be able to calculate the distance and display the path using
					the Google Maps API.</p>
					<p>Future work is to combine all these API into one Javascript
					library that anyone can call.</p>
				</article>
			</section>
			<footer>
				2016 Oregon State University
			</footer>
		</div>
</body>
</html>
