<!doctype html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="github code projects hp solar car web">
<meta name="keywords" content="chewie lin math science engineering">
<meta name="author" content="Chewie Lin">
<title>Projects</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="css/marketing.css">
<script src="tessellactation.js"></script>
</head>

<body>

<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<a class="pure-menu-heading" href="">Chewie Lin</a>
		<ul class="pure-menu-list">
			<li class="pure-menu-item pure-menu-selected"><a href="http://chewie-lin.me/" class="pure-menu-link">Home</a></li>
			<li class="pure-menu-item"><a href="http://chewie-lin.me/resume" class="pure-menu-link">Resume</a></li>
			<li class="pure-menu-item"><a href="http://chewie-lin.me/projects" class="pure-menu-link">Projects</a></li> 
			<li class="pure-menu-item"><a href="http://chewie-lin.me/contact" class="pure-menu-link">Contact</a></li> 
		</ul>
	</div>
</div>

<div class="splash-container">
  <div class="pure-g">
    <div class="is-center pure-u-1">
      <canvas id="tessellactation" width="600" height="300"> </canvas>
    </div>
  </div>
</div>  

<div class="content-wrapper">

<!--
  <div class="ribbon-first ribbon l-box-lrg pure-g">
      <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
		<h2 class="content-head is-center"> Cool Stuffs</h2>
		<p> Here are some cool stuffs I was part of from large team
		to small interesting stuffs.</br> Code is on <a href="http://github.com/sl424">GitHub</a></p>
      </div>
  </div>
-->
  <div class="splash-content l-box-lrg pure-g">
      <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
        <h2 class="content-head content-head-ribbon">Stuffs</h2>
					<p> Here are some cool stuffs I was part of from large team
					to small interesting stuffs.</br> Code is on <a href="http://github.com/sl424">GitHub</a></p>
      </div>
  </div>

	<div class="content l-box-lrg pure-g">
		  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    <img class="pure-img-responsive" alt="foraging game" width="300" src="foraging.png">
		  </div>
		  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		    <h2 class="content-head content-head-ribbon">Hunter Gather</h2>
				<p>It uses a lot of basic data structures but the ascii pictures
				makes it feel like a proper terminal game.</p> 
				<a href="https://github.com/sl424/hunting-game/raw/master/huntergather">Hunter Gather</a>
		  </div>
	</div>


	<div class="ribbon l-box-lrg pure-g">
		  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    <img class="pure-img-responsive" alt="game of life" width="300" src="gamelife.png">
		  </div>
		  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		    <h2 class="content-head content-head-ribbon">Conway's Game of Life</h2>
			<p>I think you could spend a lot of time just watching the Gosper's 
			Glider Gun repeating itself not to mention its application in cellular automata.</p>
			<a href="https://github.com/sl424/Game_of_Life/raw/master/gol">Game of Life</a>
		  </div>
	</div>


	<div class="content l-box-lrg pure-g">
		  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    <img class="pure-img-responsive" alt="web app" width="300" src="samplemap.png">
		  </div>
		  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		    <h2 class="content-head content-head-ribbon">Web Dev</h2>
				<p>First web development class, here are some interesting
				bits of application I made.</p>
				<a href="http://52.36.73.75:1515">Geolocation APIs</a>
				</br>
				<a href="http://52.36.73.75:3030">Workout App</a>
		  </div>
	</div>

	<div class="ribbon l-box-lrg pure-g">
		  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    <img class="pure-img-responsive" alt="solar car team" width="300" src="solar.jpg">
		  </div>
		  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		    <h2 class="content-head content-head-ribbon">Shell Eco-Marathon</h2>
			<p> This is definitely one of the best projects I have worked on
			during college. It was an amazing interdiscplinary project and 
			all the hard work from each team member. </p>
			<a href="http://news.nationalgeographic.com/news/energy/2011/04/110419-shell-ecomarathon-solar-car-drexel/">National Geographic </a>
			</br>
			<a href="http://drexel.edu/mem/news/news/2011/April/ECE-Solar-Design/">Drexel MEM </a>
		  </div>
	</div>

	<div class="content l-box-lrg pure-g">
		  <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
		    <img class="pure-img-responsive" alt="hp printer" width="300" src="pagewide.jpg">
		  </div>
		  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
		    <h2 class="content-head content-head-ribbon">HP PageWide</h2>
				<p> During my time at HP, I touched on multiple subsystem on the 
				PageWide business printer technology. This includes scanning sensor,
				pen health, ink delivery and paper path teams. It is the broadest
				knowledge I have for any system.</p>
				<a href="http://www8.hp.com/us/en/printers/pagewide-business-printers.html">HP PageWide</a>
		  </div>

	</div>
	  <div class="footer l-box is-center">2017 Oregon State</div>
</div>

</body>
</html>
